

/*It os a class used for the buttons and jumbotron*/

.bg-yellow{
	background: #f4a40b;
	text-align: center;
	color: black;
}



a{
text-decoration: none;
background-image: linear-gradient(currentColor,currentColor);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
transition: background-size .3s;
}

a:hover,a:focus {
background-size: 100% 2px;
}

/*A class used to change the cursor*/
/*.url{cursor:url(../images/puntero1.gif), auto;}*/

/*Is a class used to mark the active item of the navbar*/
.active{
background-image: linear-gradient(currentColor,currentColor);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 100% 4px;
font-weight: bold; 
}

