.bg-yellow{
	background: #f4a40b;
	text-align: center;
	color: black;
}
a{
text-decoration: none;
background-image: linear-gradient(currentColor,currentColor);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
transition: background-size .3s;
}

a:hover,a:focus {
background-size: 100% 2px;
}

.url{cursor:url(C:/Users/monasterio.hodei/Desktop/project/MAHR/web/view/images/puntero1.gif), auto;}

.active{
background-image: linear-gradient(currentColor,currentColor);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 100% 4px;
font-weight: bold; 
}

